.center_right{width:75%;height:100%;float:left;margin-left:5%;}
.form_head{width:100%;height:80px;text-align:center;margin:0 auto;}
.time_form table{width:100%;height:50px;text-align:center;}
.time_form td{text-align:center;}
.time_form input{text-align:center;}